@media screen and (max-width:545px) {
    header {
        flex-direction: initial;
    }

}

@media screen and (max-width:475px) {
    header nav ul {
        flex-direction: initial;
    }

}

@media (max-width: 900px) {
    .principal h1 {
        font-size: 26px;
    }

    .principal p {
        font-size: 20px;
    }


    .tdestacados h2 {
        font-size: 20px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 16px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .principal h1 {
        font-size: 24px;
    }

    .principal p {
        font-size: 17px;
    }


    .tdestacados h2 {
        font-size: 16px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 14px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 450px) {
    .principal h1 {
        font-size: 22px;

    }

    .principal p {
        font-size: 13px;
    }

    .tdestacados h2 {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .tdestacados2 h2 {
        font-size: 24px;
    }

    .tdestacados2 p {
        font-size: 16px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 14px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .tdestacados2 h2 {
        font-size: 20px;
    }

    .tdestacados2 p {
        font-size: 14px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 450px) {
    .tdestacados2 h2 {
        font-size: 16px;
    }

    .tdestacados2 p {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 10px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .container img {
        height: 200px;
        width: 200px;
    }

}

@media screen and (max-width:450px) {
    .container img {
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 900px) {
    .tdestacados2 h2 {
        font-size: 24px;
    }

    .tdestacados2 p {
        font-size: 16px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 14px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .tdestacados2 h2 {
        font-size: 20px;
    }

    .tdestacados2 p {
        font-size: 14px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 450px) {
    .tdestacados2 h2 {
        font-size: 16px;
    }

    .tdestacados2 p {
        font-size: 12px;
    }

    .container-fluid.colorfondo .container .col.text-center h3,
    .container-fluid.colorfondo .container .col.text-center p {
        font-size: 10px;
    }

    .container-fluid.colorfondo .container .col.text-center img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 900px) {
    .testimonios h2 {
        font-size: 24px;
    }

    .testimonios p {
        font-size: 16px;
    }

    .testimonios2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonios2 img {
        width: 45%;
        margin: 0.5%;
    }
}

@media (max-width: 600px) {
    .testimonios h2 {
        font-size: 20px;
    }

    .testimonios p {
        font-size: 14px;
    }

    .testimonios2 img {
        width: 80%;
        margin: 10px auto;
    }
}

@media (max-width: 450px) {
    .testimonios h2 {
        font-size: 16px;
    }

    .testimonios p {
        font-size: 12px;
    }

    .testimonios2 img {
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width:900px) {
    .tdestacados3 img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width:600px) {
    .tdestacados3 img {
        height: 150px;
        width: 150px;
    }

}

@media screen and (max-width:450px) {
    .tdestacados3 img {
        height: 100px;
        width: 100px;
    }

}

@media screen and (max-width:600px) {
    .testimonios2 img {
        display: flex;
    }
}


.galeria {
    background: rgb(182, 141, 231);
    background: linear-gradient(180deg, rgba(182, 141, 231, 1) 0%, rgba(213, 183, 255, 1) 50%, rgba(182, 141, 231, 1) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    gap: 15px;

    .item {
        position: relative;
        @include center;

        h3 {
            position: absolute;
            bottom: 0;
            background-color: #caaaf671;
            width: 90%;
            text-align: start;
        }

        img {
            width: 90%;
            height: 95%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;

        .item img {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;

        .item img {
            width: 100%;
            height: 100%;
        }

        .item h3 {
            width: 100%;
        }
    }

    @media (max-width: 450px) {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;

        .item img {
            width: 100%;
            height: 100%;
        }

        .item h3 {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .asesoramiento {
        background-image: $background-image;
        background-size: cover; // Asegura que la imagen de fondo cubra el contenedor
        background-position: center; // Centra la imagen de fondo
    }
}

@media (max-width: 600px) {
    .asesoramiento {
        background-image: $background-image;
        background-size: cover; // Asegura que la imagen de fondo cubra el contenedor
        background-position: center; // Centra la imagen de fondo
    }
}

@media (max-width: 450px) {
    .asesoramiento {
        background-image: $background-image;
        background-size: cover; // Asegura que la imagen de fondo cubra el contenedor
        background-position: center; // Centra la imagen de fondo
    }
}
@media (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .centrado {
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    footer .centrado {
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
    footer .logofooter img {
        width: 80%;
    }

    footer .centrado {
        margin-top: 5px;
    }
}